.personality__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.personality__title {
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: var(--second-text-color);
  text-align: center;
}

.per-title--resizing {
  margin-bottom: 10px;
}

.personality__item {
  width: 100%;
  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 4);
  }
}

.personality__icon {
  background-color: #f5f4fa;
  border-radius: 4px;
  min-height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pre-icon--resizing {
  margin-bottom: 30px;
}

.personality__text {
  line-height: calc(24 / 14);
}
